
body{
    background-image: url("assets/bg2.jpg");
}

h1{
    font-size: 23px;
    font-family: fantasy;
    text-align: center;
    font-weight: 1500;
    color: rgb(136, 12, 12);
}


.DrumPadFlexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 480px;
    height: 470px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(136, 12, 12);
}

.FlexButton1{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background: linear-gradient(to top, #445e34, #6e8f5b);
    border-radius: 10px;
}


.FlexButton1:hover{
    background: linear-gradient(to top, #6e8f5b, #445e34);
}

.FlexButton1:active{
    background: linear-gradient(to top, #6e8f5b, #213018);
}

.FlexButton2{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background: linear-gradient(to top, #445e34, #6e8f5b);
    border-radius: 10px;
}

.FlexButton2:hover{
    background: linear-gradient(to top, #6e8f5b, #445e34);
}

.FlexButton2:active{
    background: linear-gradient(to top, #6e8f5b, #213018);
}

.FlexButton3{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background: linear-gradient(to top, #445e34, #6e8f5b);
    border-radius: 10px;
}

.FlexButton3:hover{
    background: linear-gradient(to top, #6e8f5b, #445e34);
}

.FlexButton3:active{
    background: linear-gradient(to top, #6e8f5b, #213018);
}

.FlexButton4{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background: linear-gradient(to top, #52631a, #7b942b);
    border-radius: 10px;
}

.FlexButton4:hover{
    background: linear-gradient(to top, #7b942b, #52631a);
}

.FlexButton4:active{
    background: linear-gradient(to top, #7b942b, #3d4a12);
}

.FlexButton5{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background: linear-gradient(to top, #52631a, #7b942b);
    border-radius: 10px;
}

.FlexButton5:hover{
    background: linear-gradient(to top, #7b942b, #52631a);
}

.FlexButton5:active{
    background: linear-gradient(to top, #7b942b, #3d4a12);
}

.FlexButton6{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background: linear-gradient(to top, #52631a, #7b942b);
    border-radius: 10px;
}

.FlexButton6:hover{
    background: linear-gradient(to top, #7b942b, #52631a);
}

.FlexButton6:active{
    background: linear-gradient(to top, #7b942b, #3d4a12);
}

.FlexButton7{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background: linear-gradient(to top, #52631a, #7b942b);
    border-radius: 10px;
}

.FlexButton7:hover{
    background: linear-gradient(to top, #7b942b, #52631a);
}

.FlexButton7:active{
    background: linear-gradient(to top, #7b942b, #3d4a12);
}

.FlexButton8{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background: linear-gradient(to top, #084d19, #0e7829);
    border-radius: 10px;
}

.FlexButton8:hover{
    background: linear-gradient(to top, #0e7829, #084d19);
}

.FlexButton8:active{
    background: linear-gradient(to top, #0e7829, #053b12);
}

.FlexButton9{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background: linear-gradient(to top, #084d19, #0e7829);
    border-radius: 10px;
}

.FlexButton9:hover{
    background: linear-gradient(to top, #0e7829, #084d19);
}

.FlexButton9:active{
    background: linear-gradient(to top, #0e7829, #053b12);
}


.FlexPlayButton{
    text-align: center;
    margin: 3px;
    width: 300px;
    height: 150px;
    position: relative;
}

.FlexPauseButton{
    text-align: center;
    margin: 30px;
    position: relative;
    color: white;
}

.inactive{
    display:none;
}

p{
    color: rebeccapurple;
}

.Penguin{
    position: relative;
    left: -230px;
    top: -443px;
}

.Bow{
    position: relative;
    left: -140px;
    top: -253px;
}
