*{
    background-color: #6F925A;
}

h1{
    font-size: larger;
    font-family: fantasy;
    text-align: center;
}

h2{
    font-size:medium;
    font-family: fantasy;
    text-align: center;
}

.DrumPadFlexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 480px;
    height: 470px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6F925A;
}

.FlexButton1{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background-color: #ABDEE6;
    border-radius: 10px;
}


.FlexButton1:hover{
    background-color:#c4f7ff;
}

.FlexButton1:active{
    background-color: #8fb9bf;
}

.FlexButton2{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background-color:#ABDEE6;
    border-radius: 10px;
}

.FlexButton2:hover{
    background-color:#c4f7ff;
}

.FlexButton2:active{
    background-color: #8fb9bf;
}

.FlexButton3{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background-color:#ABDEE6;
    border-radius: 10px;
}

.FlexButton3:hover{
    background-color:#c4f7ff;
}

.FlexButton3:active{
    background-color: #8fb9bf;
}

.FlexButton4{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background-color: #F3B0C3;
    border-radius: 10px;
}

.FlexButton4:hover{
    background-color:#ffccda;
}

.FlexButton4:active{
    background-color: #d49bab;
}

.FlexButton5{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background-color:#F3B0C3;
    border-radius: 10px;
}

.FlexButton5:hover{
    background-color:#ffccda;
}

.FlexButton5:active{
    background-color: #d49bab;
}

.FlexButton6{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background-color:#F3B0C3;
    border-radius: 10px;
}

.FlexButton6:hover{
    background-color:#ffccda;
}

.FlexButton6:active{
    background-color: #d49bab;
}

.FlexButton7{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background-color:#F3B0C3;
    border-radius: 10px;
}

.FlexButton7:hover{
    background-color:#ffccda;
}

.FlexButton7:active{
    background-color: #d49bab;
}

.FlexButton8{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background-color: #d1badb;
    border-radius: 10px;
}

.FlexButton8:hover{
    background-color:#ead0f5;
}

.FlexButton8:active{
    background-color: #b6a1bf;
}

.FlexButton9{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background-color: #d1badb;
    border-radius: 10px;
}

.FlexButton9:hover{
    background-color:#ead0f5;
}

.FlexButton9:active{
    background-color: #b6a1bf;
}


.FlexPlayButton{
    text-align: center;
    margin: 3px;
    width: 300px;
    height: 150px;
    position: relative;
    background-color: #6F925A;
    border-radius: 10px;
}

p{
    color: rebeccapurple;
}