body{
    background-image: url("assets/bg.png");
}

h1{
    font-size: 23px;
    font-family: fantasy;
    text-align: center;
    font-weight: 1500;
    color: rgb(136, 12, 12);
}


.DrumPadFlexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 480px;
    height: 470px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(136, 12, 12);
}

.FlexButton1{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background-color: #445e34;
    border-radius: 10px;
}


.FlexButton1:hover{
    background-color:#597549;
}

.FlexButton1:active{
    background-color: #2e4222;
}

.FlexButton2{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background-color:#445e34;
    border-radius: 10px;
}

.FlexButton2:hover{
    background-color:#597549;
}

.FlexButton2:active{
    background-color: #2e4222;
}

.FlexButton3{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background-color:#445e34;
    border-radius: 10px;
}

.FlexButton3:hover{
    background-color:#597549;
}

.FlexButton3:active{
    background-color: #2e4222;
}

.FlexButton4{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background-color: #7b942b;
    border-radius: 10px;
}

.FlexButton4:hover{
    background-color:#92ad39;
}

.FlexButton4:active{
    background-color: #5f7320;
}

.FlexButton5{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background-color:#7b942b;
    border-radius: 10px;
}

.FlexButton5:hover{
    background-color:#92ad39;
}

.FlexButton5:active{
    background-color: #5f7320;
}

.FlexButton6{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background-color:#7b942b;
    border-radius: 10px;
}

.FlexButton6:hover{
    background-color:#92ad39;
}

.FlexButton6:active{
    background-color: #5f7320;
}

.FlexButton7{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background-color:#7b942b;
    border-radius: 10px;
}

.FlexButton7:hover{
    background-color:#92ad39;
}

.FlexButton7:active{
    background-color: #5f7320;
}

.FlexButton8{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background-color: #0e7829;
    border-radius: 10px;
}

.FlexButton8:hover{
    background-color:#159435;
}

.FlexButton8:active{
    background-color: #095c1e;
}

.FlexButton9{
    margin: 3px;
    width: 150px;
    height: 150px;
    position: relative;
    background-color: #0e7829;
    border-radius: 10px;
}

.FlexButton9:hover{
    background-color:#159435;
}

.FlexButton9:active{
    background-color: #095c1e;
}


.FlexPlayButton{
    text-align: center;
    margin: 3px;
    width: 300px;
    height: 150px;
    position: relative;
    border-radius: 10px;
}

p{
    color: rebeccapurple;
}

.Penguin{
    position: relative;
    left: -320px;
    top: -450px;
}

.Bow{
    position: relative;
    left: -138px;
    top: -250px;
}